{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended", 
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "overrides": [
    {
      "files": ["*.test.tsx?"],
      "env": {
        "jest": true
      },
    }
  ],
}